server:
  port: ${PORT:8080}

spring:
  data:
    mongodb:
      uri: ${MONGO_URI}

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL_USER:placeholder@gmail.com}
    password: ${EMAIL_PASS:placeholderPassword}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  secret: ${JWT_SECRET:defaultSecretKeyForDevelopmentOnlyMakeItLongerInProd}
  expiration: ${JWT_EXPIRATION:86400000}

oauth:
  google:
    clientId: ${GOOGLE_CLIENT_ID:placeholder}
    clientSecret: ${GOOGLE_CLIENT_SECRET:placeholder}


management:
  endpoints:
    web:
      exposure:
        include: health, info
  health:
    mail:
      enabled: false
